<form class="container mt-4" #form="ngForm" novalidate autocomplete="off">
  <div class="row" *ngIf="!somenteCrediario">
    <div class="col-md-6">
      <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome" #nome="ngModel" ngModel class="form-control" required
          autocomplete="off" [(ngModel)]="cliente.nome" placeholder="Digite aqui o Nome" title="Digite aqui o Nome">
        <div class="text-danger" *ngIf="showError(nome, form)">
          O campo Nome é obrigatório
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="estadoCivil">Estado Civil:</label>
        <select id="estadoCivil" name="estadoCivil" class="form-control" (change)="onChangeEstadoCivil($event)"
          #estadoCivil="ngModel" ngModel [(ngModel)]="cliente.estadoCivil">
          <option *ngFor="let estadoCivil of estadosCivis" [value]="estadoCivil">{{ estadoCivil }}</option>
        </select>
        <div *ngIf="showError(estadoCivil, form)" class="text-danger">
          <div>O Campo Estado Civil é obrigatório.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!somenteCrediario">
    <div class="col-md-6">
      <div class="form-group">
        <label for="observacao">Observação:</label>
        <textarea id="observacao" name="observacao" class="form-control" rows="3" #observacao="ngModel" ngModel
          [(ngModel)]="cliente.observacao"></textarea>
      </div>
    </div>
    <div class="col-md-6" *ngIf="mostrarCamposConjuge">
      <div class="form-group">
        <label for="nomeConjuge">Nome do Cônjuge:</label>
        <input type="text" id="nomeConjuge" name="nomeConjuge" class="form-control" #nomeConjuge="ngModel" ngModel
          [(ngModel)]="cliente.nomeConjuge">
      </div>
    </div>
  </div>
  <fieldset name="contato" *ngIf="!somenteCrediario">
    <legend>Contato</legend>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="telefone">Telefone:</label>
          <input type="text" required minlength="13" maxlength="14" #fone="ngModel" autocomplete="off" ngModel
            [(ngModel)]="cliente.contato.telefone" name="fone" id="fone" class="form-control" mask="(00) 000000009"
            (change)="formatarTelefone($event)" placeholder="Digite o Telefone Principal"
            title="Digite o Telefone Principal">
          <div *ngIf="!telefoneValido(fone, form)" style="color: red;">Formato Telefone inválido. Use ddd+000000000.
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="text" minlength="5" maxlength="100" #email="ngModel" ngModel [(ngModel)]="cliente.contato.email"
            name="email" id="email" autocomplete="off" class="form-control" placeholder="Digite aqui o Email"
            title="Digite aqui o Email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
          <div *ngIf="showError(email, form)" class="text-danger">
            O campo E-mail é obrigatório e deve ter o formato:
            <i>fulano@email.com</i>.
          </div>
        </div>
      </div>
      <div class="col-md-4" *ngIf="mostrarCamposConjuge">
        <div class="form-group">
          <label for="telefoneConjuge">Telefone do Cônjuge:</label>
          <input type="text" minlength="13" maxlength="14" #foneConjuge="ngModel" autocomplete="off" ngModel
            [(ngModel)]="cliente.contato.telefoneConjuge" name="telefoneConjuge" id="telefoneConjuge"
            class="form-control" mask="(00) 000000009" (change)="formatarTelefone(foneConjuge)"
            placeholder="Digite o Telefone" title="Digite o Telefone">
          <div *ngIf="!telefoneValido(foneConjuge, form)" style="color: red;">Formato Telefone inválido. Use
            ddd+000000000.</div>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset name="documento" *ngIf="!somenteCrediario">
    <legend>Documento</legend>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="identidade">Identidade:</label>
          <input type="text" id="identidade" name="identidade" class="form-control" #identidade="ngModel" ngModel
            [(ngModel)]="cliente.documento.identidade">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="cpf">CPF:</label>
          <input type="text" [(ngModel)]="cliente.documento.cpf" name="inputCPF" id="inputCPF" mask="000.000.000-00"
            title="Digite aqui o CPF" #inputCPF="ngModel" class="form-control" placeholder="Digite aqui o CPF" required
            (change)="formatarCPF($event)" (keypress)="inputCPF.value.length < 11">

          <small *ngIf="showError(inputCPF, form)" class="text-danger">
            O campo CPF obrigatório.
          </small>
          <small *ngIf="!validarCPF()" class="text-danger">
            Campo CPF inválido.
          </small>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset name="endereco" *ngIf="!somenteCrediario">
    <legend>Endereço</legend>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="rua">Rua:</label>
          <input type="text" id="rua" name="rua" class="form-control" #rua="ngModel" ngModel
            [(ngModel)]="cliente.endereco.rua">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="cidade">Cidade:</label>
          <input type="text" id="cidade" name="cidade" class="form-control" #cidade="ngModel" ngModel
            [(ngModel)]="cliente.endereco.cidade">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="cep">CEP:</label>
          <input type="text" id="cep" name="cep" class="form-control" #cep="ngModel" ngModel
            [(ngModel)]="cliente.endereco.cep" (change)="formatarCEP()">
          <div *ngIf="!validarCEP()" style="color: red;">Formato de CEP inválido. Use XXXXXXXX.</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="estado">Estado:</label>
          <select id="estado" name="estado" class="form-control" [(ngModel)]="cliente.endereco.estado" #estado="ngModel"
            ngModel>
            <option *ngFor="let estado of estados" [value]="estado">{{ estado }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="numero">Número:</label>
          <input type="text" id="numero" name="numero" class="form-control" #numero="ngModel" ngModel
            [(ngModel)]="cliente.endereco.numero">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="complemento">Complemento:</label>
      <input type="text" id="complemento" name="complemento" class="form-control" #complemento="ngModel" ngModel
        [(ngModel)]="cliente.endereco.complemento">
    </div>
    <div class="form-group">
      <label for="bairro">Bairro:</label>
      <input type="text" id="bairro" name="bairro" class="form-control" #bairro="ngModel" ngModel
        [(ngModel)]="cliente.endereco.bairro">
    </div>
  </fieldset>
  <fieldset name="localTrabalho" *ngIf="!somenteCrediario">
    <legend>Local de Trabalho</legend>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="rua">Rua:</label>
          <input type="text" id="rua" name="rua" class="form-control" #rua="ngModel" ngModel
            [(ngModel)]="cliente.localTrabalho.rua">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="cidade">Cidade:</label>
          <input type="text" id="cidade" name="cidade" class="form-control" #cidade="ngModel" ngModel
            [(ngModel)]="cliente.localTrabalho.cidade">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="cepLocalTrabalho">CEP:</label>
          <input type="text" id="cepLocalTrabalho" name="cepLocalTrabalho" class="form-control"
            #cepLocalTrabalho="ngModel" ngModel [(ngModel)]="cliente.localTrabalho.cep" (change)="formatarCEP()">
          <div *ngIf="!validarCEP()" style="color: red;">Formato de CEP inválido. Use XXXXXXXX.</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="estadoLocalTrabalho">Estado:</label>
          <select id="estadoLocalTrabalho" name="estadoLocalTrabalho" class="form-control"
            [(ngModel)]="cliente.localTrabalho.estado" #estadoLocalTrabalho="ngModel" ngModel>
            <option *ngFor="let estado of estados" [value]="estado">{{ estado }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="numeroLocalTrabalho">Número:</label>
          <input type="text" id="numeroLocalTrabalho" name="numeroLocalTrabalho" class="form-control"
            #numeroLocalTrabalho="ngModel" ngModel [(ngModel)]="cliente.localTrabalho.numero">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="complementoLocalTrabalho">Complemento:</label>
      <input type="text" id="complementoLocalTrabalho" name="complementoLocalTrabalho" class="form-control"
        #complementoLocalTrabalho="ngModel" ngModel [(ngModel)]="cliente.localTrabalho.complemento">
    </div>
    <div class="form-group">
      <label for="bairroLocalTrabalho">Bairro:</label>
      <input type="text" id="bairroLocalTrabalho" name="bairroLocalTrabalho" class="form-control"
        #bairroLocalTrabalho="ngModel" ngModel [(ngModel)]="cliente.localTrabalho.bairro">
    </div>
  </fieldset>
  <fieldset name="emprestimo">
    <legend>Crediários</legend>
    <div class="row" style="padding-top: 10px;">
      <p-table [value]="cliente.emprestimos" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[2, 4, 6]">
        <ng-template pTemplate="caption">
          <button style="margin: 2px;" type="button" class="btn btn-primary" *ngIf="!somenteCrediario" severity="info"
            (click)="novoEmprestimo()">Adicionar</button>
          <h5 *ngIf="somenteCrediario">{{cliente.nome}}</h5>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Valor Crediário</th>
            <th>Total a receber</th>
            <th>Qtde. Parcelas</th>
            <th>Status</th>
            <th>Ações</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-e let-ri="rowIndex">
          <tr>
            <td>{{ e.valor | currency: 'BRL' }}</td>
            <td>{{ e.valorTotal | currency: 'BRL' }}</td>
            <td>{{ e.numeroParcela }}</td>
            <td>{{ obterDescricaoStatus(e.status) }}</td>
            <td>
              <button *ngIf="!somenteCrediario" style="margin: 2px;" type="button" class="btn btn-danger"
                (click)="excluirEmprestimo(e, ri)">Excluir</button>


              <button *ngIf="!somenteCrediario" style="margin: 2px;" type="button" class="btn btn-primary"
                severity="info" (click)="editarEmprestimo(e, ri)">Editar</button>

              <button *ngIf="somenteCrediario" style="margin: 2px;" type="button" class="btn btn-success"
                severity="success" (click)="showDialogPagamento(e, ri)">Pagar</button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </fieldset>

  <div class="row">
    <div class="col-md-12" style="text-align: right;" *ngIf="!somenteCrediario">
      <button type="button" class="btn btn-primary" (click)="validarAoSalvar()" [disabled]="!form.valid">Salvar</button>
    </div>
  </div>
  <p-dialog header="Lançamento de Crediário" [(visible)]="displayEmprestimo" [style]="{width: '60vw'}" [modal]="true"
    [draggable]="false" [resizable]="false">
    <div class="row">
      <fieldset name="novoEmprestimo">
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <label for="valor">Valor:</label>
              <input currencyMask name="valor" maxLength="13" #valor="ngModel" ngModel
                style="height: calc(2.25rem + 14px);" [(ngModel)]="emprestimo.valor" title="Valor Emprestado"
                class="form-control" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" />
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="qtdeParcelas">Qtde Parcelas:</label>
              <select id="qtdeParcelas" name="qtdeParcelas" class="form-control" style="height: calc(2.25rem + 14px);"
                #qtdeParcelas="ngModel" ngModel [(ngModel)]="emprestimo.numeroParcela">
                <option *ngFor="let p of listaParcelas" [value]="p">{{p}}x</option>
              </select>
              <div *ngIf="showError(qtdeParcelas, form)" class="text-danger">
                <div>O Campo Quantidade Parcelas é obrigatório.</div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="dataVencimento">Vencimento 1ª Parcela:</label>
              <p-inputMask mask="99/99/9999" [(ngModel)]="emprestimo.dataInicial" placeholder="dd/mm/yyyy"
                [style]="{width: '100%'}" [ngModelOptions]="{standalone: true}"></p-inputMask>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="status">Status:</label>
              <select id="status" name="status" class="form-control" style="height: calc(2.25rem + 14px);"
                #status="ngModel" ngModel [(ngModel)]="emprestimo.status">
                <option *ngFor="let p of listaStatus" [value]="p">{{obterDescricaoStatus(p)}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="calcular">&nbsp;</label>
              <button name="calcular" type="button" class="btn btn-primary form-control"
                style="height: calc(2.25rem + 14px);" [disabled]="emprestimo.id" severity="info"
                (click)="calcularParcelasEmprestimo()"><i class="pi pi-calculator"></i> Calcular</button>
            </div>

          </div>
        </div>
        <div class="row" style="padding-top: 20px;" *ngIf="emprestimo.parcelas.length > 0">
          <p-table [value]="emprestimo.parcelas" [paginator]="false" dataKey="numParcela" editMode="row">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 2em;">Nº</th>
                <th style="width: 20%;">Valor Parcela</th>
                <th style="width: 20%;">Valor Juros</th>
                <th style="width: 10%;">Total</th>
                <th style="width: 30%;">Vencimento</th>
                <th style="width: 10%;">Editar</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-p let-editing="editing" let-ri="rowIndex">
              <tr [pEditableRow]="p">
                <td>{{ p.numParcela }}</td>
                <td style="width: 20%;">
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input currencyMask name="valorParcela" maxLength="13" ngModel [(ngModel)]="p.valorParcela"
                        title="Valor Parcela" [style]="{width: '100%'}"
                        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" />
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{ p.valorParcela | currency: 'BRL' }}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td style="width: 20%;">
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input currencyMask name="valorJuros" maxLength="13" ngModel [(ngModel)]="p.valorJuros"
                        title="Valor Juros" [style]="{width: '100%'}"
                        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" />
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{ p.valorJuros | currency: 'BRL' }}
                    </ng-template>
                  </p-cellEditor>

                </td>
                <td style="width: 10%;">{{ p.valorParcela + p.valorJuros | currency: 'BRL' }}</td>
                <td style="width: 30%;">
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <p-inputMask mask="99/99/9999" [(ngModel)]="p.dataVencimento" placeholder="dd/mm/yyyy"
                        [style]="{width: '100%'}" [ngModelOptions]="{standalone: true}"></p-inputMask>
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{ p.dataVencimento | date: 'dd/MM/yyyy'}}
                    </ng-template>
                  </p-cellEditor>

                </td>
                <td style="width: 20%;">
                  <div class="flex align-items-center justify-content-center gap-2">
                    <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                      (click)="onRowEditInit(p)" class="p-button-rounded p-button-text"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                      (click)="onRowEditSave(p)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                      (click)="onRowEditCancel(p, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                  </div>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr>
                <td colspan="3" class="text-right"><strong>Total: </strong> </td>
                <td>{{ emprestimo.valorTotal | currency: 'BRL'}}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </fieldset>
    </div>
    <ng-template pTemplate="footer">
      <div class="row">
        <div class="col-md-6" style="text-align: left;">
          <button name="cancelarParcelas" type="button" class="btn btn-secondary" (click)="displayEmprestimo = false">
            <i class="pi pi-cancel"></i> Cancelar</button>
        </div>
        <div class="col-md-6" style="text-align: right;">

          <button name="adicionarParcelas" type="button" class="btn btn-primary" (click)="adicionarEmprestimo()"
            severity="info"><i class="pi pi-confirm"></i> Adicionar</button>
        </div>
      </div>
    </ng-template>
  </p-dialog>

  <!--Cadastrar Pagamento-->
  <p-dialog header="Gerenciar Pagamento" [(visible)]="displayPagamento" [style]="{width: '60vw', minHeight: '40vw'}"
    [modal]="true" [draggable]="false" [resizable]="false">
    <div class="row">
      <fieldset name="Pagamento">
        <div class="row">
          <div class="col-md-3">
            <p>
              <strong>Valor: </strong><br /> {{emprestimo.valor | currency: 'BRL'}}
            </p>
          </div>
          <div class="col-md-3">
            <p>
              <strong>Valor Total: </strong><br /> {{emprestimo.valorTotal | currency: 'BRL'}}
            </p>
          </div>
          <div class="col-md-3">
            <p>
              <strong>Status: </strong><br /> {{obterDescricaoStatus(emprestimo.status)}}
            </p>
          </div>
          <div class="col-md-3">
            <p>
              <strong>A Receber: </strong><br /> {{emprestimo.valorAReceber | currency: 'BRL'}}
            </p>
          </div>
        </div>
        <div class="row" style="padding-top: 20px;" *ngIf="emprestimo.parcelas.length > 0">
          <span *ngIf="displayNovoPagamento">
            <div class="row">
                <div class="col-md-3">
                  <p>
                    <strong>Nº Parcela: </strong><br /> {{parcelaPagamento.numParcela}}
                  </p>
                </div>
                <div class="col-md-3">
                  <p>
                    <strong>Valor Parcela: </strong><br /> {{parcelaPagamento.valorParcela | currency: 'BRL'}}
                  </p>
                </div>
                <div class="col-md-3">
                  <p>
                    <strong>Valor Juros: </strong><br /> {{parcelaPagamento.valorJuros | currency: 'BRL'}}
                  </p>
                </div>
                <div class="col-md-3">
                  <p>
                    <strong>Valor Total: </strong><br /> {{parcelaPagamento.valorParcela + parcelaPagamento.valorJuros | currency: 'BRL'}}
                  </p>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <strong>Saldo Devedor: </strong><br/>{{calcularAReceber(parcelaPagamento) | currency: 'BRL'}}
                  </div>
                  <div class="col-md-4" style="padding-top: 25px;">
                    <div class="form-group">
                      <label for="valorPago">Valor Pago:</label>
                      <input currencyMask name="valorPago" maxLength="13" #valorPago="ngModel" ngModel
                        [(ngModel)]="pagamento.valorPago" title="Valor Pago" class="form-control"
                        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" />
                    </div> <br/>
                    <button style="margin: 2px;" type="button" class="btn btn-success" severity="success"
                    (click)="registrarPagamento()">Pagar</button>
                  </div>
              
                </div>

            </div>
          </span>
          <span *ngIf="!displayNovoPagamento">
            <p-table [value]="emprestimo.parcelas" dataKey="numParcela" [tableStyle]="{ 'min-width': '60rem' }">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 2em;">*</th>
                  <th style="width: 2em;">Nº</th>
                  <th style="width: 15%;">Valor Parcela</th>
                  <th style="width: 15%;">Valor Juros</th>
                  <th style="width: 15%;">Total</th>
                  <th style="width: 25%;">Vencimento</th>
                  <th style="width: 20%;">Situação</th>
                  <th style="width: 10%;">Ações</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-p let-expanded="expanded">
                <tr>
                  <td><button type="button" pButton pRipple [pRowToggler]="p"
                      class="p-button-text p-button-rounded p-button-plain"
                      [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button></td>
                  <td>
                    {{ p.numParcela }}
                  </td>
                  <td style="width: 20%;">{{ p.valorParcela | currency: 'BRL' }}</td>
                  <td style="width: 20%;">
                    {{ p.valorJuros | currency: 'BRL' }}
                  </td>
                  <td style="width: 10%;">{{ p.valorParcela + p.valorJuros | currency: 'BRL' }}</td>
                  <td style="width: 30%;">{{ p.dataVencimento | date: 'dd/MM/yyyy'}}</td>
                  <td style="width: 20%;">
                    <p-tag [value]="p.statusParcela" [severity]="getSeverity(p.statusParcela)"
                      *ngIf="p.statusParcela"></p-tag>
                  </td>
                  <td style="width: 20%;">
                    <button style="margin: 2px;" type="button" class="btn btn-success" severity="success"
                      *ngIf="p.statusParcela !== 'Pago'" (click)="showNovoPagamento(p)">Pagar</button>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="rowexpansion" let-p>
                <tr>
                  <td colspan="8">
                    <div class="p-3">
                      <p-table [value]="p.pagamentos" dataKey="id">
                        <ng-template pTemplate="header">
                <tr>
                  <th>ID</th>
                  <th>Data Pagamento</th>
                  <th>Valor Pago</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-pg>
                <tr>
                  <td>{{ pg.id }}</td>
                  <td>{{ pg.dataPagamento | date: 'dd/MM/yyyy'}}</td>
                  <td>{{ pg.valorPago | currency: 'BRL' }}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="footer">
                <tr>
                  <td colspan="3" class="text-center"><strong>Saldo Devedor: {{calcularAReceber(p) | currency: 'BRL'}}</strong></td>
                </tr>
                
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="6">Nenhum pagamento registrado</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          </td>
          </tr>
          </ng-template>
          </p-table>
          </span>
    </div>
    </fieldset>
    </div>
  </p-dialog>
</form>