<div class="full-height">
    <div class="container mt-5">
        <h1>Fluxo de Caixa</h1>
        <br />
        <h5>Selecionar período</h5>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="dataIni">Data Início:</label>
                    <p-inputMask mask="99/99/9999" [(ngModel)]="pesquisaDataIni" placeholder="dd/mm/yyyy"
                        [style]="{width: '100%'}" [ngModelOptions]="{standalone: true}"></p-inputMask>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="dataFim">Data Término:</label>
                    <p-inputMask mask="99/99/9999" [(ngModel)]="pesquisaDataFim" placeholder="dd/mm/yyyy"
                        [style]="{width: '100%'}" [ngModelOptions]="{standalone: true}"></p-inputMask>
                </div>
            </div>
            <div class="col-md-1 form-group">
                <label for="pesquisa">&nbsp;</label>
                <button name="pesquisa" type="button" class="btn btn-primary form-control" (click)="calcularFluxoCaixa()"
                    style="height: calc(2.25rem + 14px);" severity="info"><i class="pi pi-search"></i></button>
            </div>
            <div class="col-md-3 form-group">
                <label for="add">&nbsp;</label>
                <button name="add" type="button" class="btn btn-primary form-control" (click)="showDialogDespesa()"
                    style="height: calc(2.25rem + 14px);" severity="info"><i class="pi pi-plus"></i>&nbsp;Adicionar
                    despesa</button>
            </div>
        </div>
    </div>
    <div class="container mt-5" *ngIf="fluxoCaixa.length > 0">
        <div class="row">
            <div class="col-md-3">
              <h4>
                <strong>Total Juros: </strong><br /> {{ totalJuros | currency: 'BRL' }}
              </h4>
            </div>
            <div class="col-md-3">
              <h4>
                <strong>Total Capital: </strong><br /> {{ totalCapital | currency: 'BRL' }}
              </h4>
            </div>
            <div class="col-md-3">
              <h4>
                <strong>Total Empréstimos: </strong><br /> {{ totalEmprestimo | currency: 'BRL' }}
              </h4>
            </div>
            <div class="col-md-3">
              <h4>
                <strong>Total Despesas: </strong><br /> {{ totalDespesas | currency: 'BRL' }}
              </h4>
            </div>
          </div>
    </div>
    <div class="container mt-5" *ngFor="let fluxo of fluxoCaixa">
        <h3>{{fluxo.dataRef | date: 'dd/MM/yyyy'}}</h3>
        <p-table [value]="fluxo.itens" [paginator]="false" class="custom-table">
            <ng-template pTemplate="header">
                <tr>
                    <th class="titulo-tabela" style="width: 5%;">ID</th>
                    <th class="titulo-tabela" style="width: 30%;">Cliente</th>
                    <th class="titulo-tabela" style="width: 10%;">Empréstimo</th>
                    <th class="titulo-tabela" style="width: 10%;">Data</th>
                    <th class="titulo-tabela" style="width: 15%;">Juros</th>
                    <th class="titulo-tabela" style="width: 15%;">Capital</th>
                    <th class="titulo-tabela" style="width: 15%;">Saídas</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-ri="rowIndex">
                <tr [ngClass]="{ 'odd-row': ri % 2 === 1, 'even-row': ri % 2 === 0 }">
                    <td *ngIf="item.id > 0">{{ item.id }}</td>
                    <td *ngIf="item.id === 0">#</td>
                    <td>{{ item.identificacao }}</td>
                    <td>{{ item.data | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ fluxo.dataRef | date: 'dd/MM/yyyy' }}</td>
                    <td style="color: cadetblue;">{{ item.pagoJuros | currency: 'BRL' }}</td>
                    <td style="color: cadetblue;">{{ item.pagoParcela | currency: 'BRL' }}</td>
                    <td style="color: red;">{{ item.valorDebito | currency: 'BRL' }}</td>
                </tr>
                <tr *ngIf="fluxo.itens.length - 1 == ri" style="font-weight: bold;">
                    <td colspan="4" style="text-align: right;">Total {{fluxo.dataRef | date: 'dd/MM/yyyy'}}</td>
                    <td style="color: cadetblue;">{{fluxo.totalJuros | currency: 'BRL'}}</td>
                    <td style="color: cadetblue;">{{fluxo.totalParcela | currency: 'BRL'}}</td>
                    <td style="color: red;">Emp.: {{fluxo.totalEmprestimos | currency: 'BRL'}} <br />
                        Desp: {{fluxo.totalDespesas | currency: 'BRL'}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog header="Cadastrar Despesa" [(visible)]="displayDespesa" [modal]="true" [draggable]="false"
    [resizable]="false">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="valor">Valor:</label>
                <input currencyMask name="valor" maxLength="13" #valor="ngModel" ngModel
                    style="height: calc(2.25rem + 14px);" [(ngModel)]="despesa.valor" title="Valor Emprestado"
                    class="form-control" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="data">Data:</label>
                <p-inputMask mask="99/99/9999" [(ngModel)]="despesa.data" placeholder="dd/mm/yyyy"
                    [style]="{width: '100%'}" [ngModelOptions]="{standalone: true}"></p-inputMask>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="descricao">Descrição</label>
                <input type="text" id="descricao" name="descricao" class="form-control" #descricao="ngModel" ngModel
                    [(ngModel)]="despesa.descricao" style="height: calc(2.25rem + 14px);">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="text-align: right;">
            <button name="save" type="button" class="btn btn-primary form-control" (click)="salvarDespesa()"
                style="height: calc(2.25rem + 14px); width: 110px;" severity="info"><i
                    class="pi pi-save"></i>&nbsp;Salvar</button>
        </div>
    </div>
</p-dialog>