<div class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- Gráfico 1 - Online Store Visitors -->
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="d-flex justify-content-between">
                            <h3 class="card-title">Online Store Visitors</h3>
                            <a href="javascript:void(0);">View Report</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex">
                            <p class="d-flex flex-column">
                                <span class="text-bold text-lg">820</span>
                                <span>Visitors Over Time</span>
                            </p>
                            <p class="ml-auto d-flex flex-column text-right">
                                <span class="text-success">
                                    <i class="pi pi-arrow-up"></i> 12.5%
                                </span>
                                <span class="text-muted">Since last week</span>
                            </p>
                        </div>

                        <!-- Incluindo o componente do gráfico 1 -->
                        <app-relatorio-chart1></app-relatorio-chart1>

                        <div class="d-flex flex-row justify-content-end">
                            <span class="mr-2">
                                <i class="pi pi-circle-fill text-primary"></i> Esta Semana
                            </span>
                            <span>
                                <i class="pi pi-circle-fill text-gray"></i> Semana Passada
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Gráfico 2 - Sales -->
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="d-flex justify-content-between">
                            <h3 class="card-title">Sales</h3>
                            <a href="javascript:void(0);">View Report</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex">
                            <p class="d-flex flex-column">
                                <span class="text-bold text-lg">$18,230.00</span>
                                <span>Sales Over Time</span>
                            </p>
                            <p class="ml-auto d-flex flex-column text-right">
                                <span class="text-success">
                                    <i class="pi pi-arrow-up"></i> 33.1%
                                </span>
                                <span class="text-muted">Since last month</span>
                            </p>
                        </div>

                        <!-- Incluindo o componente do gráfico 2 -->
                        <app-relatorio-chart2></app-relatorio-chart2>

                        <div class="d-flex flex-row justify-content-end">
                            <span class="mr-2">
                                <i class="pi pi-circle-fill text-primary"></i> Este ano
                            </span>
                            <span>
                                <i class="pi pi-circle-fill text-gray"></i> Ano passado
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
