
<h2 style="padding-left: 50px; padding-top: 20px;">Clientes</h2>
<div class="card m-2" style="padding: 50px;">
    <p-table [value]="clientes" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[2, 4, 6]">
        <ng-template pTemplate="caption">
          <div>
            <div style="  height: 20%; display: flex; align-items: center; padding: 10px;  ">
                <form class="d-flex">
                    <input class="form-control me-2" type="text" placeholder="Pesquisar por Nome" aria-label="Pesquisar por Nome"
                    #filtroInput>
                    <button class="btn btn-outline-success" type="button"> <i class="pi pi-search"
                            style="font-size: 1rem" (click)="filtrarPorNome(filtroInput.value)"></i></button>
        
                </form>
        
                <div style="width: 100%; display: flex;justify-content: end;  ">
                    <button type="button" class="btn btn-primary" (click)="showDialogCadastro()">
                        Cadastrar Cliente
                    </button>
                </div>
        
            </div>
        </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Telefone</th>
                <th>Endereço</th>
                <th>Observação</th>
                <th>Ações</th>
                
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cliente>
            <tr>
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.documento.cpf }}</td>
                <td>{{ cliente.contato.telefone }}</td>
                <td>{{ cliente.endereco.rua }}
                    Bairro: {{cliente.endereco.bairro}} -
                    {{cliente.endereco.cidade}} - {{cliente.endereco.estado}}</td>
                <td>{{ cliente.observacao }}</td>
                <td >
                    <button [disabled]="cliente.emprestimos.length > 0"  (click)="deletarCliente(cliente.id)" style="margin: 2px;" type="button" class="btn btn-danger"     
                     title="Excluir Cliente"><i class="pi pi-trash"></i></button>
                
               
                    <button style="margin: 2px;" type="button" class="btn btn-primary" (click)="showDialogEdit(cliente, false)"
                    severity="info" title="Editar Cliente"><i class="pi pi-pencil"></i></button>

                    <button style="margin: 2px;" type="button" class="btn btn-primary" (click)="showDialogEdit(cliente, true)"
                    severity="info" title="Gerenciar Crediário"><i class="pi pi-money-bill"></i></button>
                </td>
                
                 
            </tr>
        </ng-template>
    </p-table>
</div> 

<p-dialog [header]="tituloPopup" [(visible)]="displayCadastro" [style]="{width: '50vw'}"  [modal]="true"
[draggable]="false" [resizable]="false">
  <app-cadastro-clientes 
    [cliente]="clienteSelecionado" (saveEvent)="afterSave($event)"
    [somenteCrediario]="isCrediario"> </app-cadastro-clientes>
</p-dialog>