<div>
    <div style="  height: 20%; display: flex; align-items: center; padding: 10px;  ">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit"> <i class="pi pi-search"
                    style="font-size: 1rem"></i></button>

        </form>

        <div style="width: 100%; display: flex;justify-content: end;  ">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Cadastrar Cliente
            </button>
        </div>

    </div>
</div>

<div class="card m-2">
    <p-table [value]="clientes" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[2, 4, 6]">
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Endereço</th>
                <th>Contato</th>
                <th>Local de Trabalho</th>
                <th>Excluir</th>
                <th>Editar/Visualizar</th>

                <!-- Adicione outras colunas conforme necessário -->
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cliente>
            <tr>
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.estadoCivil }}</td>
                <td>{{ cliente.nomeConjuge }}</td>
                <td>{{ cliente.observacao }}</td>
                <td>{{ cliente.documento.cpf }}</td>
                <td>{{ cliente.documento.identidade}}</td>
                <td> <button label="Excluir" severity="danger"></button></td>
                <td><p-button label="Editar" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        severity="info"></p-button></td>
                <!-- <td>{{ cliente.endereco.cep}}</td> -->
                <!-- Adicione outras células conforme necessário, como cliente.documento.identidade, cliente.endereco.rua, etc. -->
            </tr>
        </ng-template>
    </p-table>
</div>







<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl"> <!-- Adiciona a classe modal-xl para tornar a modal extra grande -->
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Cadastro Completo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container mt-3">
                    <h1>Registro de Cliente e Empréstimo</h1>

                    <!-- Formulário de Registro de Cliente -->
                    <form id="clienteForm">
                        <h2>Informações do Cliente</h2>
                        <div class="mb-3">
                            <label for="nome" class="form-label">Nome:</label>
                            <input type="text" class="form-control" id="nome" required>
                        </div>
                        <div class="mb-3">
                            <label for="estadocivil" class="form-label">Estado Civil:</label>
                            <input type="text" class="form-control" id="estadocivil" required>
                        </div>
                        <div class="mb-3">
                            <label for="nomedoconjunge" class="form-label">Nome do Conjunge:</label>
                            <input type="text" class="form-control" id="nomedoconjunge" required>
                        </div>
                        <div class="mb-3">
                            <label for="cpf" class="form-label">CPF:</label>
                            <input type="text" class="form-control" id="cpf" required>
                        </div>
                        <div class="mb-3">
                            <label for="identidade" class="form-label">Identidade:</label>
                            <input type="text" class="form-control" id="identidade" required>
                        </div>
                        <div class="mb-3">
                            <label for="endereco" class="form-label">Endereço:</label>
                            <input type="text" class="form-control" id="endereco" required>
                        </div>
                        <div class="mb-3">
                            <label for="localdetrabalho" class="form-label">Local de Trabalho:</label>
                            <input type="text" class="form-control" id="localdetrabalho" required>
                        </div>
                        <div class="mb-3">
                            <label for="contato" class="form-label">Contato:</label>
                            <input type="text" class="form-control" id="contato" required>
                        </div>
                        <div class="mb-3">
                            <label for="observacoes" class="form-label">Observações:</label>
                            <input type="text" class="form-control" id="observacoes" required>
                        </div>

                        <!-- Formulário de Registro de Empréstimo -->
                        <h2>Informações de Empréstimo</h2>
                        <div class="mb-3">
                            <label for="valor" class="form-label">Valor do Empréstimo:</label>
                            <input type="number" class="form-control" id="valor" required>
                        </div>

                        <!-- Campo para a taxa de juros -->
                        <div class="mb-3">
                            <label for="juros">Taxa de Juros (% ao mes):</label>
                            <input type="number" class="form-control" [(ngModel)]="taxaJuros" required>
                        </div>

                        <!-- Seleção da quantidade de parcelas -->
                        <div class="mb-3">
                            <label for="parcelas" class="form-label">Quantidade de Parcelas:</label>
                            <select class="form-control" id="parcelas">
                                <option value="5">1x</option>
                                <option value="8">2x</option>
                                <option value="8">4x</option>
                                <option value="8">5x</option>
                                <option value="8">10x</option>
                                <!-- Adicione mais opções conforme necessário -->
                            </select>
                        </div>

                        <!-- Formulário para exibir e permitir a edição das parcelas -->
                        <div *ngIf="parcelas.length > 0">
                            <form>
                                <div *ngFor="let parcela of parcelas; let i = index" class="mb-3">
                                    <label for="parcela-{{i}}">Parcela {{i + 1}}:</label>
                                    <input type="number" class="form-control" [(ngModel)]="parcelas[i]"
                                        id="parcela-{{i}}">
                                </div>
                                <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                            </form>
                        </div>


                        <!-- Botão para calcular as parcelas iniciais -->
                        <button type="button" class="btn btn-primary" (click)="calcularParcelasIniciais()">Calcular
                            Parcelas</button>

                        <!-- Formulário para exibir e permitir a edição das parcelas -->
                        <div *ngIf="parcelas.length > 0">
                            <form>
                                <div *ngFor="let parcela of parcelas; let i = index" class="mb-3">
                                    <label for="parcela-{{i}}">Parcela {{i + 1}}:</label>
                                    <input type="number" class="form-control" [(ngModel)]="parcelas[i]"
                                        id="parcela-{{i}}">
                                </div>
                                <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                            </form>
                        </div>

                        <button type="button" class="btn btn-primary ms-3" onclick="registrar()">Registrar</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary">Salvar Cadastro</button>
            </div>
        </div>
    </div>
</div>