<div class="full-height">
    <div class="container mt-5">
        <h1>Relatórios de Crediário</h1>
        <br />
        <h5>Pesquisar</h5>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="status">Status:</label>
                    <select id="status" name="status" class="form-control" [(ngModel)]="pesquisaStatus"
                        #status="ngModel" ngModel style="height: calc(2.25rem + 14px);">
                        <option *ngFor="let s of listaStatus" [value]="s">{{ s }}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="dataIni">Data Início:</label>
                    <p-inputMask mask="99/99/9999" [(ngModel)]="pesquisaDataIni" placeholder="dd/mm/yyyy"
                        [style]="{width: '100%'}" [ngModelOptions]="{standalone: true}"></p-inputMask>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="dataFim">Data Término:</label>
                    <p-inputMask mask="99/99/9999" [(ngModel)]="pesquisaDataFim" placeholder="dd/mm/yyyy"
                        [style]="{width: '100%'}" [ngModelOptions]="{standalone: true}"></p-inputMask>
                </div>
            </div>
            <div class="col-md-1 form-group">
                <label for="pesquisa">&nbsp;</label>
                <button name="pesquisa" type="button" class="btn btn-primary form-control" (click)="listarEmprestimos(true)"
                    style="height: calc(2.25rem + 14px);" severity="info"><i class="pi pi-search"></i></button>
            </div>
        </div>
        <p-table [value]="emprestimos" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[2, 4, 6]">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 30%;">Cliente</th>
                    <th style="width: 10%;">Status</th>
                    <th style="width: 15%;">Valor Emprestado</th>
                    <th style="width: 15%;">Valor Pago</th>
                    <th style="width: 15%;">Saldo Devedor</th>
                    <th style="width: 15%;">Próximo Pagamento</th>
                    <th style="width: 8em;">Ações</th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-emprestimo>
                <tr>
                    <td>{{ emprestimo.cliente }}</td>
                    <td><span [class]="'badge ' + getClassStatus(emprestimo.status)">{{ emprestimo.status }}</span></td>
                    <td>{{ emprestimo.valorEmprestado | currency: 'BRL' }}</td>
                    <td>{{ emprestimo.valorPago | currency: 'BRL' }}</td>
                    <td>{{ emprestimo.saldoDevedor | currency: 'BRL' }}</td>
                    <td>{{ emprestimo.proximoPgto | date: 'dd/MM/yyyy'}}</td>
                    <td>
                        <button name="detalhes" type="button" class="btn btn-primary form-control" 
                        severity="info" (click)="visualizarDetalhe(emprestimo)">
                            <i
                                class="pi pi-eye"></i></button>
                    </td>


                </tr>
            </ng-template>
        </p-table>
    </div>

</div>
<p-dialog header="Detalhes Crediário" [(visible)]="displayPagamento" [style]="{width: '80vw', minHeight: '40vw'}"
    [modal]="true" [draggable]="false" [resizable]="false">
    <div class="row">
      <fieldset name="Pagamento">
        <div class="row">
          <div class="col-md-3">
            <p>
              <strong>Valor: </strong><br /> {{emprestimo?.valor | currency: 'BRL'}}
            </p>
          </div>
          <div class="col-md-3">
            <p>
              <strong>Valor Total: </strong><br /> {{emprestimo?.valorTotal | currency: 'BRL'}}
            </p>
          </div>
          <div class="col-md-3">
            <p>
              <strong>Status: </strong><br /> {{obterDescricaoStatus(emprestimo?.status)}}
            </p>
          </div>
          <div class="col-md-3">
            <p>
              <strong>A Receber: </strong><br /> {{emprestimo?.valorAReceber | currency: 'BRL'}}
            </p>
          </div>
        </div>
        <div class="row" style="padding-top: 20px;" *ngIf="emprestimo?.parcelas?.length > 0">
            <p-table [value]="emprestimo?.parcelas" dataKey="numParcela" [tableStyle]="{ 'min-width': '50rem' }">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 2em;">*</th>
                  <th style="width: 2em;">Nº</th>
                  <th style="width: 15%;">Valor Parcela</th>
                  <th style="width: 15%;">Valor Juros</th>
                  <th style="width: 15%;">Total</th>
                  <th style="width: 15%;">Vencimento</th>
                  <th style="width: 15%;">Situação</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-p let-expanded="expanded">
                <tr>
                  <td style="width: 2em;"><button type="button" pButton pRipple [pRowToggler]="p"
                      class="p-button-text p-button-rounded p-button-plain"
                      [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button></td>
                  <td style="width: 2em;">
                    {{ p.numParcela }}
                  </td>
                  <td style="width: 15%;">{{ p.valorParcela | currency: 'BRL' }}</td>
                  <td style="width: 15%;">
                    {{ p.valorJuros | currency: 'BRL' }}
                  </td>
                  <td style="width: 15%;">{{ p.valorParcela + p.valorJuros | currency: 'BRL' }}</td>
                  <td style="width: 15%;">{{ p.dataVencimento | date: 'dd/MM/yyyy'}}</td>
                  <td style="width: 15%;">
                    <p-tag [value]="p.statusParcela" [severity]="getSeverity(p.statusParcela)"
                      *ngIf="p.statusParcela"></p-tag>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="rowexpansion" let-p>
                <tr>
                  <td colspan="8">
                    <div class="p-3">
                      <p-table [value]="p.pagamentos" dataKey="id">
                        <ng-template pTemplate="header">
                <tr>
                  <th>ID</th>
                  <th>Data Pagamento</th>
                  <th>Valor Pago</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-pg>
                <tr>
                  <td>{{ pg.id }}</td>
                  <td>{{ pg.dataPagamento | date: 'dd/MM/yyyy'}}</td>
                  <td>{{ pg.valorPago | currency: 'BRL' }}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="footer">
                <tr>
                  <td colspan="3" class="text-center"><strong>Saldo Devedor: {{calcularAReceber(p) | currency: 'BRL'}}</strong></td>
                </tr>
                
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="6">Nenhum pagamento registrado</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          </td>
          </tr>
          </ng-template>
          </p-table>
    </div>
    </fieldset>
    </div>
    <ng-template pTemplate="footer">
        <div class="row">
          <div class="col-md-6" style="text-align: left;">
            <button name="cancelarParcelas" type="button" class="btn btn-secondary" (click)="displayPagamento = false">
              <i class="pi pi-cancel"></i> Cancelar</button>
          </div>
          <div class="col-md-6" style="text-align: right;">
  
            <button name="inadimplente" type="button" class="btn btn-danger" (click)="registrarInadimplente(true)"
              severity="info" *ngIf="!cliente.inadimplente"><i class="pi pi-confirm"></i> Marcar como Inadimplente</button>

              <button name="adimplente" type="button" class="btn btn-danger" (click)="registrarInadimplente(false)"
              severity="info" *ngIf="cliente.inadimplente"><i class="pi pi-confirm"></i> Desmarcar Inadimplente</button>
          </div>
        </div>
      </ng-template>
  </p-dialog>