#menu {
      justify-content: flex-start;
     
        li{
            border: solid 1p rgb(230, 221, 221);
            
        }
    
  
    :hover {
        color:lightseagreen;
    }
}
ul {
    li {
        list-style: none;
        padding: 10px 0px 10px 0px;
        margin: 5px;
        color: black;

        border-radius: 4px;
        :hover {
            color: rgb(0, 0, 0);
        }
        font-size: 1.25rem;
        i {
            padding: 5px;
        }
    }
}


.custom-width-icon {
    font-size: 1.5rem; /* ou qualquer outro tamanho desejado */

  }

#menu li:hover {
    cursor: pointer; /* Altera o cursor do mouse para pointer quando hover */
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
}

#menu li:hover {
    transform: translateX(5px); /* Move o item da lista para a direita quando hover */
}


/* CSS para animação do cursor */

#menu li:hover,
.list-unstyled li:hover {
    cursor: pointer; /* Altera o cursor do mouse para pointer quando hover */
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
}

#menu li:hover,
.list-unstyled li:hover {
    transform: translateX(5px); /* Move o item da lista para a direita quando hover */
}