


<div class="card d-flex flex-column align-items-center">
    <!-- Botão para abrir o sidebar -->
    <p-button (click)="sidebarVisible = true" severity="secondary">
        <i class="pi pi-align-justify custom-width-icon"></i>
    </p-button>

<!-- Sidebar -->
<p-sidebar [(visible)]="sidebarVisible" [style]="{ 'width.px': 280 }">
    <h2>Menu</h2>
    <hr>
    <ul id="menu" class="list-unstyled">
        <li><a routerLink="/" class="menu-item">Home</a></li>
        <li><a routerLink="/clientes" class="menu-item">Clientes</a></li>
        <li><a routerLink="/emprestimos" class="menu-item">Empréstimos</a></li>
        <li><a routerLink="/relatorio" class="menu-item">Dashboard</a></li>
    </ul>
    <hr>
</p-sidebar>

<!-- Ícones do PrimeNG -->
<ul class="list-unstyled mt-3">
    <li><i class="pi pi-home icon" style="font-size: 2rem;"></i></li>
    <li><i class="pi pi-users icon" style="font-size: 2rem;"></i></li>
    <li><i class="pi pi-dollar icon" style="font-size: 2rem;"></i></li>
    <li><i class="pi pi-chart-bar icon" style="font-size: 2rem;"></i></li>
</ul>