


<div class="card d-flex flex-column align-items-center">
    <!-- Botão para abrir o sidebar -->
    <p-button (click)="sidebarVisible = true" severity="secondary">
        <i class="pi pi-align-justify custom-width-icon"></i>
    </p-button>

    <!-- Sidebar -->
    <p-sidebar [(visible)]="sidebarVisible" [style]="{ 'width.px': 280 }">
            <h2>Menu</h2>
            <hr>
            <ul id="menu" class="list-unstyled">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/clientes">Clientes</a></li>
                <li><a routerLink="/emprestimos">Crediários</a></li>
                <li><a routerLink="/fluxo-caixa">Fluxo de Caixa</a></li>
                <li>Calendario</li>
                <li>Dashboard</li>
            </ul>
    </p-sidebar>

    <!-- Ícones do PrimeNG -->
    <ul class="list-unstyled mt-3">
        <li><a  routerLink="/"><i class="pi pi-home" style="font-size: 2rem;"></i></a></li>
        <li><a  routerLink="/clientes"><i class="pi pi-users" style="font-size: 2rem;"></i></a></li>
        <li><a  routerLink="/emprestimos"><i class="pi pi-user" style="font-size: 2rem;"></i></a></li>
        <li><a  routerLink="/fluxo-caixa"><i class="pi pi-chart-bar" style="font-size: 2rem;"></i></a></li>
        <li><i class="pi pi-calendar" style="font-size: 2rem;"></i></li>
        <li><i class="pi pi-chart-pie" style="font-size: 2rem;"></i></li>
    </ul>
</div>
